@import "../../../assets/scss/mixins.scss";

.container {
  background-image: url("../../../assets/images/main-bg.png");
  height: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;

  .wrapper {
    @include blur-bg();
    width: 500px;
    margin: auto;
    transform: translateY(calc(100vh / 2 - 70%));
    padding: 50px;
    border-radius: 10px;

    .logo {
      display: block;
      text-align: center;
    }

    .feature {
      margin: 40px 0;

      .ftr-txt {
        color: #fff;
        font-weight: 600;
        font-size: 15px;
      }

      :global(.ant-switch-checked) {
        background-color: #fff;

        :global(.ant-switch-handle)::before {
          background-color: #333;
        }
      }
    }

    .btn {
      @include blur-bg();
      @include std-btn();
      border: none;
      margin-top: 20px;

      * {
        color: #fff;
      }
    }

    .input {
      @include std-input();
      @include blur-bg();
      border: none;

      :global(.ant-input-prefix) {
        margin-right: 10px;
        color: #fff;
      }

      :global(.ant-input-suffix) * {
        color: #ffffff99;
      }

      input {
        background-color: unset !important;
        color: #ffffff;
      }
    }
  }
}
