@import "../../../../../assets/scss/mixins.scss";

.container {
  position: absolute;
  top: 115px;
  right: 25px;
  width: 800px;
  background-color: #fff;
  border: 1px solid #00000015;
  box-shadow: 0 0 10px #00000025;
  padding: 20px;
  border-radius: 10px;
  z-index: 10;
  cursor: default;

  .calendar {
    text-align: center;

    :global(.head) * {
      color: #00000060;
    }

    :global(.day-wrap) {
      :global(.between) {
        background-color: #00000010 !important;

        &:hover {
          background-color: #00000025 !important;
        }
      }
    }

    :global(.day) {
      &:hover {
        background-color: #00000025;
      }

      &:global(.active) {
        background-color: #00000050;
      }

      &:disabled {
        color: #00000025;

        &::after {
          background-color: #00000025;
        }
      }

      &:global(.today)::after {
        background-color: #00000025;
        bottom: 10px;
      }
    }

    &:disabled {
      color: #00000025;

      &::after {
        background-color: #00000025;
      }
    }
  }

  :global(.nav-btn) {
    background-color: unset;
    border: none;
    z-index: 2;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    cursor: pointer;

    &:hover {
      background-color: #00000010;
    }

    &:disabled {
      cursor: not-allowed;

      * {
        color: #00000050;
      }

      &:hover {
        background-color: unset;
      }
    }
  }
}
