@import "../../../assets/scss/mixins.scss";
@import "../../../assets/scss/sizes.scss";

.container {
  padding-top: 50px;
  padding-left: calc((100% - 1200px) / 2);
  padding-right: calc((100% - 1200px) / 2);

  .top {
    margin-bottom: 20px;
  }
}
.antpagination {
  padding-right: calc((100% - 1200px) / 2);
}


.save-btn {
  @include primary-btn();
  height: 35px;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
