@import "../../../assets/scss/sizes.scss";
@import "../../../assets/scss/mixins.scss";

.container {
  padding: 25px calc((100% - #{$container-width} + 400px) / 2);

  .avatar {
    text-align: center;
    margin: 0 0 40px 0;
  }

  .pass-btn {
    @include primary-btn();
  }
}
