@import "../../../assets/scss/sizes.scss";
@import "../../../assets/scss/mixins.scss";

.container {
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc((100% - #{$container-width}) / 2);

  :global(.logo) img {
    width: $logo-width;
  }

  :global(.user-btn) {
    @include btn-icon();
    width: 45px;
    height: 45px;

    * {
      font-size: 20px;
      color: white;
    }

    &:hover,
    &:global(.active) {
      @include blur-bg();
    }
  }
}
