@import "../../../assets/scss/sizes.scss";
@import "../../../assets/scss/mixins.scss";

.container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;

  &:global(.active-search) {
    background-color: #00000050;
    height: 100vh;
  }

  :global(.inner) {
    background-color: #fff;
    box-shadow: 0 0 10px #00000025;

    :global(.main) {
      height: $header-height;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 calc((100% - #{$container-width}) / 2);

      :global(.logo) {
        width: 300px;

        img {
          width: $logo-width;
        }
      }

      :global(.mini-search-bar) {
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #dadada;
        padding: 5px;
        border-radius: 50px;
        cursor: pointer;

        :global(.content) {
          margin-left: 20px;
        }

        :global(.btn) {
          width: 40px;
          height: 40px;
          background-color: #333;
          border: none !important;
          @include btn-icon();

          :global(.icon *) {
            color: #fff;
            font-size: 16px;
          }
        }
      }

      .right-container {
        width: 300px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
      }

      .noti-container {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        @include btn-icon();
        width: 40px;
        height: 40px;
        border: 1px solid #dadada;
        position: relative;

        &:hover,
        &.active {
          border: 1px solid #333;
        }

        .noti-btn {
          position: relative;

          svg {
            font-size: 20px;
            margin-bottom: -3px;
          }
        }
      }

      :global(.user-wrap) {
        :global(.user-btn) {
          @include btn-icon();
          width: 45px;
          height: 45px;

          * {
            font-size: 20px;
            color: #333;
          }

          &:hover {
            border: 1px solid #dadada;
          }

          &:global(.active) {
            border: 1px solid #333;
          }
        }
      }
    }
  }
}

.sp-fixed {
  height: $header-height;
}
