@import "../../../../assets/scss/mixins.scss";

.container {
  width: 500px;
  margin: auto;
  padding: 50px;
  border-radius: 10px;

  :global(.ant-modal-body) {
    padding: 50px 25px;
  }

  h1,
  h2,
  h3 {
    text-align: center;
  }

  .logo {
    display: block;
    text-align: center;
  }

  .feature {
    margin: 40px 0;

    .ftr-txt {
      color: #333;
      font-weight: 600;
      font-size: 15px;
    }

    :global(.ant-switch-checked) {
      background-color: #333;

      :global(.ant-switch-handle)::before {
        background-color: #fff;
      }
    }
  }

  .btn {
    // @include blur-bg();
    @include std-btn();
    border: none;
    margin-top: 20px;
    background-color: #333 !important;

    * {
      color: #fff !important;
    }
  }

  .input {
    @include std-input();
    // @include blur-bg();
    // border: none;

    :global(.ant-input-prefix) {
      margin-right: 10px;
      color: #333;
    }

    :global(.ant-input-suffix) * {
      color: #333;
    }

    input {
      background-color: unset !important;
      color: #333;
    }
  }
}
