@import "../../../../../assets/scss/mixins.scss";

.container {
  display: flex;
  align-items: center;
  margin-top: 10px !important;

  .wrapper {
    position: relative;
  }

  .btn {
    border: 1px solid #dadada;
    border-radius: 50px;
    margin-right: 10px;
    padding: 5px 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover,
    &.active {
      border-color: #333;
    }
  }

  .popup {
    position: absolute;
    width: 350px;
    top: 45px;
    background-color: #fff;
    z-index: 2;
    border-radius: 10px;
    padding: 25px;
    transition: all 0.2s ease-out;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0 10px #00000025;

    &.visible {
      opacity: 1;
      visibility: visible;
    }

    .filter-btn {
      @include primary-btn();
    }

    &.amenity {
      width: 500px;

      .checkbox-group {
        display: flex;
        flex-wrap: wrap;
      }

      .checkbox {
        width: 50%;
      }
    }

    .checkbox {
      width: 100%;
      margin: 0;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      .name {
        font-size: 15px;
        margin-left: 10px;
      }

      .desc {
        margin-left: 10px;
        color: #00000075;
      }

      :global(.ant-checkbox-checked .ant-checkbox-inner) {
        background-color: #333;
        border-color: #333;
      }

      :global(.ant-checkbox-inner) {
        border-color: #333;
      }
    }
  }
}
