@import "../../assets/scss/mixins.scss";
@import "../../assets/scss/sizes.scss";

$btn-size: 45px;
$bar-margin-vertical: 5vh;

@mixin container-std {
  width: $search-bar-width;
  border-radius: 50px;
  margin: 0 auto !important;
  position: relative;

  :global(.cell-wrap) {
    border-radius: 50px;
    padding: 10px 30px !important;
    cursor: pointer;
  }

  :global(.divider-v) {
    width: 1px;
    height: 35px;

    &:global(.active) {
      background-color: unset;
    }
  }

  :global(.btn) {
    @include btn-icon();

    :global(.icon) * {
      color: #fff;
      font-size: 20px;
    }
  }

  :global(.cell-wrap) {
    &:hover,
    &:global(.active) {
      background-color: #ffffff25; // home
    }

    &:first-child {
      border-left: none;
    }

    &:last-child {
      padding-right: 10px !important;
    }

    :global(.cell) {
      width: 100%;
    }
    label {
      font-size: 12px;
      font-weight: 600;
      cursor: pointer;
    }

    :global(.placeholder) {
      font-weight: 300;
    }

    input {
      display: block;
      border: none;
      background-color: unset;
      width: 100%;

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-weight: 300 !important;
      }
    }
  }
}

.container-home {
  @include container-std();
  margin-top: $bar-margin-vertical !important;

  &::before {
    content: "";
    @include blur-bg();
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50px;
  }

  :global(.cell-wrap) {
    &:hover,
    &:global(.active) {
      background-color: #ffffff25; // home

      :global(.clear-icon) {
        display: flex;
      }
    }

    :global(.clear-icon) {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      height: 25px;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      background-color: #ffffff25;
      display: none;

      &:global(.offset-right) {
        right: 60px;
      }

      &:hover {
        background-color: #ffffff50;
      }

      svg {
        font-size: 12px;
        color: #fff;
      }
    }

    label {
      color: #fff; //home
    }

    :global(.data) {
      color: #fff; //home
    }

    :global(.placeholder) {
      color: #dadada; // home
    }

    input {
      color: #fff; // home
      caret-color: #fff; // home

      &::placeholder {
        color: #dadada; // home
      }
    }
  }

  :global(.btn) {
    @include btn-icon();
    background-color: #ffffff25; // home
  }

  :global(.divider-v) {
    background-color: #ffffff50; // home
  }
}

.container {
  @include container-std();
  background-color: #fff;
  // border: 1px solid #333;

  &::before {
    content: "";
    border: 1px solid #333;
    position: absolute;
    width: calc(100% - 1px);
    height: 100%;
    border-radius: 50px;
  }

  :global(.cell-wrap) {
    :global(.clear-icon) {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      height: 25px;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      display: none;

      &:global(.offset-right) {
        right: 60px;
      }

      svg {
        font-size: 12px;
      }
    }

    &:hover {
      background-color: #00000010;

      :global(.clear-icon) {
        display: flex;
        background-color: #33333350;

        &:hover {
          background-color: #333;
        }

        svg {
          color: #fff;
        }
      }
    }

    &:global(.active) {
      background-color: #333 !important;
      box-shadow: 0 0 5px #00000025;

      label,
      p {
        color: #fff !important;
      }

      :global(.btn) {
        @include btn-icon();
        background-color: #fff;

        * {
          color: #333 !important;
        }
      }

      input {
        color: #fff;
        caret-color: #fff;
      }

      :global(.clear-icon) {
        display: flex;
        background-color: #ffffff50;

        &:hover {
          background-color: #ffffff75;
        }

        svg {
          color: #333;
        }
      }
    }

    &:hover,
    &:global(.active) {
      :global(.clear-icon) {
        display: flex;
      }
    }

    label {
      color: #333;
    }

    :global(.data) {
      color: #333;
    }

    :global(.placeholder) {
      color: #999;
    }

    input {
      color: #333;
      margin-top: -2px;

      &::placeholder {
        color: #999;
      }
    }
  }

  :global(.btn) {
    @include btn-icon();
    background-color: #333;
  }

  :global(.divider-v) {
    background-color: #00000050;
  }
}
