.container {
  position: relative;
  width: fit-content;
  margin: auto;

  .upload {
    border-radius: 100px;
    :global(.ant-upload) {
      width: 150px;
      height: 150px;
      border-radius: 100px;
      border: none;
    }
  }

  &:hover {
    .layer {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .layer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff25;
    display: none;
    padding: 10px 0 20px 0;

    span {
      color: #fff;
    }
  }
}
