@import "../../../assets/scss/mixins.scss";
@import "../../../assets/scss/sizes.scss";

.pop-up {
  background-color: #333;
  position: absolute;
  top: 75px;
  border-radius: 30px;
  padding: 25px;
  cursor: default;

  &:global(.home) {
    @include blur-bg();
  }

  * {
    color: #fff;
  }

  &.guest {
    width: 400px;
    right: 0;

    p {
      font-size: 16px;
      font-weight: 600;
    }

    :global(.data) {
      color: #fff;
    }

    span {
      color: #ffffff99;
    }

    button {
      background-color: unset;
      border: none;
      cursor: pointer;
      margin: 0 10px;

      &:last-child {
        margin-right: 0;
      }

      * {
        font-size: 16px;
      }

      &:disabled {
        cursor: not-allowed;
        * {
          color: #ffffff50;
        }
      }
    }

    :global(.data) {
      font-size: 18px;
    }
  }

  :global(.divider) {
    background-color: #ffffff25;
    margin: 20px 0;
  }

  &.destination {
    width: 500px;
    min-height: 300px;
    left: 0;

    :global(.search-item) {
      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;

      * {
        font-size: 16px;
      }

      p {
        flex: 1;
        margin-left: 10px;
        color: white;
        font-weight: 300;
      }

      &:hover {
        background-color: #ffffff25;
      }
    }
  }

  &.date-range {
    left: -285px;
    width: $search-bar-width;
    text-align: center;

    :global(.nav-btn) {
      background-color: unset;
      border: none;
      z-index: 2;
      width: 35px;
      height: 35px;
      @include btn-icon();

      &:hover {
        background-color: #ffffff25;
      }

      &:disabled {
        cursor: not-allowed;

        * {
          color: #ffffff50;
        }

        &:hover {
          background-color: unset;
        }
      }
    }
  }
}
