@import "../../../assets/scss/sizes.scss";
@import "../../../assets/scss/mixins.scss";

$btn-size: 45px;

.container {
  height: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url("../../../assets/images/main-bg.png");

  padding-top: $header-height;
}
